<mat-card>
   <mat-card-title>Excluir Produto</mat-card-title>
 
 
   <form action="">
      <mat-form-field>
         <input type="text" matInput placeholder="Nome" [value]="product.name" name="name" disabled>
      </mat-form-field>
      <mat-form-field>
         <input type="text" matInput placeholder="Preço (R$)" [value]="product.price" name="price" disabled>
      </mat-form-field>
 
   </form>
   <div class="btns">
      <button mat-raised-button (click)="delete()" class="btn"  color="primary">
         Salvar
      </button>
      <button mat-raised-button (click)="backView()" class="btn" >
         Voltar
      </button>
 
   </div>
 
 </mat-card>