<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list class="nav-style">
      <a mat-list-item routerLink="/">
        <i class="material-icons v-middle">
          home
        </i>
        <span>
          Início
        </span>
      </a>
      <a mat-list-item routerLink="login/login">
        <i class="material-icons v-middle">
          storefront
        </i>
        <span>
          Produtos
        </span>
      </a>
      <a mat-list-item routerLink="login/login">
        <i class="material-icons v-middle">
          login
        </i>
        <span>
          Login
        </span>
      </a>




    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-container class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-container>

</mat-sidenav-container>
